<div class="row animated--fade-in">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          #input
          (keyup)="searchHospital(input.value)"
          type="text"
          class="form-control"
          placeholder="Search Hospital..."
        />
      </div>
    </div>
  </div>
</div>

<div *ngIf="loading" class="row mt-3 animated--fade-in">
  <div class="col-12">
    <div class="alert alert-warning text-center">
      <strong>
        Loading
      </strong>
      <br />
      <button class="btn btn-warning btn-circle">
        <i class="fas fa-exclamation-triangle"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="!loading" class="card shadow mb-4 animated--fade-in mt-4">
  <div class="card-header py-3">
    <div class="row">
      <div class="col-6">
        <h6 class="m-0 font-weight-bold text-primary mt-2">
          Registered Hospitals: ({{ totalHospitals }})
        </h6>
      </div>
      <div class="text-right col-6">
        <button class="btn btn-primary" (click)="createHospital()">
          <i class="fa fa-plus"></i>
          Create hospital
        </button>
      </div>
    </div>
  </div>
  <div class="card-body" *ngIf="totalHospitals > 0">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hospital of hospitals">
            <td class="text-center">
              <img
                [src]="hospital.img | image:'hospital'"
                class="img-profile rounded-circle pointer"
                (click)="showModal(hospital._id)"
                style="height: 2rem; width: 2rem;"
              />
            </td>
            <td>
              <input type="text" class="form-control" [value]="hospital.name" />
            </td>
            <td class="text-right">
              <button
                (click)="updateHospital(hospital)"
                class="btn btn-primary"
              >
                <i class="fa fa-save"></i>
              </button>
              <button
                (click)="deleteHospital(hospital)"
                class="btn btn-danger ml-2"
              >
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <button class="btn btn-secondary">
          Previous
        </button>
        <button class="btn btn-secondary ml-2">
          Next
        </button>
      </table>
    </div>
  </div>
</div>
