<!-- Sidebar -->
<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="index.html"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">
    Interface
  </div> 
  <!-- Nav Item - Pages Collapse Menu -->
  <li *ngFor="let menu of _sideBar.menu" class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      attr.data-target="#collapse{{ menu.id }}"
      aria-expanded="true"
      aria-controls=""
    >
      <i [class]="menu.icon"></i>
      <span>{{ menu.title }}</span>
    </a>
    <div
      id="collapse{{ menu.id }}"
      class="collapse"
      aria-labelledby="headingThree"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a
          *ngFor="let subMenu of menu.submenu"
          routerLink="/{{ subMenu.url }}"
          routerLinkActive="active"
          class="collapse-item"
          >{{ subMenu.title }}</a
        >
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- End of Sidebar -->
